nav.navigation
  a.navigation__link(href="/")=meta.data.title
    svg.navigation__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.94 17.86")
      path(fill="currentColor" d="M1,1.54h19V6.48l-10.53,7H20.07v4.93H1V13.53l10.52-7H1Zm35.73,6v-6h5.88V18.46H36.77v-6H27.14v6H21.26V1.54h5.88v6ZM48.48,17.89a8.13,8.13,0,0,1-3.77-3.06A8.7,8.7,0,0,1,43.4,10a8.67,8.67,0,0,1,1.31-4.84,8.07,8.07,0,0,1,3.77-3,15.38,15.38,0,0,1,6-1,15.27,15.27,0,0,1,6,1.05,8.18,8.18,0,0,1,3.78,3A8.64,8.64,0,0,1,65.49,10a8.7,8.7,0,0,1-1.3,4.85,8.16,8.16,0,0,1-3.78,3.06,15.28,15.28,0,0,1-6,1A15.2,15.2,0,0,1,48.48,17.89ZM59.38,10a3.83,3.83,0,0,0-1.11-2.9A5.49,5.49,0,0,0,54.45,6a5.47,5.47,0,0,0-3.82,1.07A3.84,3.84,0,0,0,49.51,10q0,4,4.94,4T59.38,10Zm27.3.24q0,4.33-2.5,6.53c-1.67,1.46-4.28,2.18-7.84,2.18s-6.19-.72-7.85-2.17S66,13.13,66,10.22V1.54h5.88V10a4.17,4.17,0,0,0,1,2.89A4.45,4.45,0,0,0,76.34,14a4.44,4.44,0,0,0,3.47-1.14,4.24,4.24,0,0,0,1-2.88V1.54h5.87Zm14-8.68h8.65l-7.87,6.8,7.87,10.12h-7.15L97.3,11.93l-3.53,3v3.5H87.9V1.54h5.87V7.91Zm26.3,0V6H115.46V7.77h11.05v4.47H115.46V14H127v4.46H109.59V1.54Z")

  ul.navigation__list
    each item in navigation.data.list
      li.navigation__list__item
        a.navigation__list__link(href=Link(item.link))=item.text
